body {
    width: 100%;
    height: 100vh;

    display: flex;
    /*padding: 10vh 10%;*/
    background-color: var(--bgclr3);
}


body #body {

    width: 100%;
    height: 100%;

    /*border-radius: 25px;*/

    display: flex;
    overflow: hidden;
}

body #body #img {
    width: 50%;
    height: 100%;

    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}




body #body #img #bg {
    position: absolute;

    

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    background-color: orangered;
}

body #body #img #bg img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: blur(10px);
    
}


body #body #img #fg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    row-gap: 5%;
}


body #body #img #fg img{
    width: 40%;
    filter: invert(1);
}

body #body #img #fg h1 {
    color: var(--bgclr1);
    font-size: var(--txtsz9);

}


body #body #form {
    width: 50%;
    height: 100%;


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    padding: 10%;

    row-gap: 10%;

}

body #body #form h1 {
    font-size: var(--txtsz8);
}



body #body #form form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: end;

    width: 100%;
}


body #body #form form .input {
    width: 100%;
}


body #body #form form button {
    margin-top: 45px;
    width: 100%;
}

body #body #form a {
    color: var(--secclr2);
    font-size: var(--txtsz2);
    font-weight: var(--txtwh3);

    /*text-decoration: none;*/
}