 .section form {
     display: flex;


 }


 .section form #form {
     
     display: flex;
     flex-direction: column;
 }



 .section #content #form button {
     color: var(--bgclr1);
     text-decoration: none;

     font-size: var(--txtsz5);
     font-weight: var(--txtwh4);

     background-color: var(--secclr2);
     padding: 10px 25px;
     border-radius: var(--brdr1);

     border: none;
 }


 .section #content #map {
     width: 100%;
     aspect-ratio: 1;

     
     display: flex;
     flex-direction: column;

     margin: 5px;

 }

 .section #content #map #img {
     width: 100%;
     height: 100%;

     
 }

 .section #content #map .row {
     display: none;

     
 }