form {
    display: flex;
    flex-direction: column;

    width: 60%;
    padding: 0 20%;
}

input[type="file"] {
    display: none;
}

label {
    text-decoration: underline;
    font-weight: var(--txtwh5);
    cursor: pointer;

    margin-bottom: 25px;
}


button {
    margin-top: 25px;
}