@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
    font-weight: 100 1000;
    /* 100 => 800*/
}

:root {
    --bgclr1: #ffffff;
    --bgclr2: #fcfcfd;
    --bgclr3: #f6f7f9;
    --txtclr1: #6d7785;
    --txtclr2: #465366;
    --txtclr3: #05060a;
    --secclr1: #f79321;
    --secclr2: #ff5600;


    /********************************/
    /*
    --shdclr1: #05060a15;
    --shdclr2: #05060a30;

    --shd1: 0 0 5px 1px var(--shdclr1);
    --shd2: 0 0 5px 1px var(--shdclr2);
    */

    --border1: 1.5px solid #05060a15;
    /*--border2: 1.5px soild #05060a30;*/

    /********************************/


    --txtwh1: 100;
    --txtwh2: 400;
    --txtwh3: 500;
    --txtwh4: 600;
    --txtwh5: 700;
    --txtwh6: 800;

    --txtsz1: 10px;
    --txtsz2: 13px;
    --txtsz3: 15px;
    --txtsz4: 18px;
    --txtsz5: 20px;
    --txtsz6: 25px;
    --txtsz7: 30px;
    --txtsz8: 35px;
    --txtsz9: 45px;
    --txtsz10: 50px;

    --brdr1: 5px;
    --brdr2: 7.5px;
    --brdr3: 10px;


}