form button {
    color: var(--bgclr1);
    text-decoration: none;

    font-size: var(--txtsz5);
    font-weight: var(--txtwh4);

    background-color: var(--secclr2);
    padding: 10px 25px;
    border-radius: var(--brdr1);

    border: none;
}

