.grid {
    width: 100%;

    display: grid;
    flex-wrap: wrap;

    column-gap: 5px;
    row-gap: 5px;
}


.grid.c2 {
    grid-template-columns: auto auto;
}

.grid.c3 {
    grid-template-columns: auto auto auto;
}