input[type="file"] {
    display: none;
}


input {
    appearance: textfield;
    padding: 5px 15px;
    border-radius: var(--brdr2);
    border: var(--border1);

    font-size: var(--txtsz5);
}

textarea {
    padding: 15px;

    border: none;
    outline: none;
    border-radius: var(--brdr2);
    border: var(--border1);

    resize: none;
}



.input {
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.input p {
    font-size: var(--txtsz5);
    font-weight: var(--txtwh4);
}


.input ul li {
    color: var(--errclr);
}




input[type="checkbox"]{
    accent-color: var(--secclr2);
    
    width: 25px;
    height: 25px;
}
