.panel {
    display: flex;
    align-items: center;

    padding: 20px;

    border-radius: var(--brdr2);
    background-color: var(--bgclr1);

    /*box-shadow: var(--shd1);*/
    border: var(--border1);
}

.panel.h {
    width: 100%;
    /*height: 90px;*/
}

.panel.v {
    /*width: 90px;*/
    height: 100%;
}