.section {

    display: flex;
    flex-direction: column;
    row-gap: var(--brdr2);

    padding: var(--brdr2);

}


.section #title {
    font-size: 40px;
    margin: var(--brdr2);
}

.section #body {
    margin: var(--brdr2);

}


.section.border {
    padding: calc(2*var(--brdr2));

    border: var(--border1);
    border-radius: var(--brdr2);
}