table {
    width: 100%;
}


table tr th{
    padding: 20px;
    border: var(--border1);
    
    color: var(--secclr2);
    border-color: var(--secclr2);

}

table tr td{
    text-align: center;
    padding: 15px;

    border: var(--border1);
}


table tr td a{
    color: var(--secclr2);
    text-decoration: none;
    font-weight: var(--txtwh5);
}

