.offerCard {
    display: flex;
    align-items: start;

    column-gap: 10px;

    margin: 5px;
    padding: 10px;

    background-color: grey;

    cursor: pointer;

}


.offerCard img {
    width: 10%;
    aspect-ratio: 1;



    object-fit: cover;
    object-position: 50% 50%;

}

.offerCard #info {
    display: flex;
    flex-direction: column;
}


.offerCard #coords {
    column-gap: 10px;
}