.offerCard {

    display: flex;
    flex-direction: column;

    margin: var(--brdr1);
    padding: var(--brdr3);

    column-gap: var(--brdr2);
    row-gap: var(--brdr2);

    border-radius: var(--brdr2);

    background-color: var(--bgclr2);
    border: var(--border1);

    cursor: pointer;

}


.offerCard img {
    width: 100%;
    aspect-ratio: calc(4/3);

    object-fit: cover;
    object-position: 50% 50%;

    border-radius: var(--brdr2);

}

.offerCard #info {
    display: flex;
    flex-direction: column;

    width: 100%;
}



.offerCard #info .row {
    display: flex;
    justify-content: space-between;
}


.offerCard #info #id {
    font-size: var(--txtsz3);
    font-size: var(--txtsz7);
}

.offerCard #info #type {
    color: var(--secclr1);
    font-weight: var(--txtwh4);
}

.offerCard #info #surf {
    font-size: var(--txtsz5);

}


.offerCard #info #price {
    display: flex;
    flex-direction: column;
    align-items: end;
 
    margin-top: 30px;
    font-size: var(--txtsz5);

    color: var(--secclr2);
}


.offerCard.nonChecked {
    background-color: lightcoral;
}