.offerCard {

    display: flex;
    flex-direction: column;

    margin: var(--brdr1);
    padding: var(--brdr3);

    column-gap: var(--brdr2);
    row-gap: var(--brdr2);

    border-radius: var(--brdr2);

    background-color: var(--bgclr2);
    border: var(--border1);

    cursor: pointer;

}


.offerCard img {
    width: 100%;
    aspect-ratio: calc(4/3);

    object-fit: cover;
    object-position: 50% 50%;

    border-radius: var(--brdr2);

}

.offerCard #info {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: red;
}


.offerCard #coords {
    column-gap: 10px;
}


.offerCard.nonChecked {
    background-color: lightcoral;
}