.propertyCard {

    display: flex;
    flex-direction: column;

    margin: var(--brdr1);
    padding: var(--brdr3);

    column-gap: var(--brdr2);
    row-gap: var(--brdr2);

    border-radius: var(--brdr2);

    background-color: var(--bgclr2);
    border: var(--border1);

    cursor: pointer;

}


.propertyCard img {
    width: 100%;
    aspect-ratio: calc(4/3);

    object-fit: cover;
    object-position: 50% 50%;

    border-radius: var(--brdr2);

}

.propertyCard #info {
    display: flex;
    flex-direction: column;

    width: 100%;
}



.propertyCard #info .row {
    display: flex;
    justify-content: space-between;
}


.propertyCard #info #id {
    font-size: var(--txtsz3);
    font-size: var(--txtsz7);
}

.propertyCard #info #surf {
    font-size: var(--txtsz5);

}

.propertyCard #info #addr {
    margin-top: 20px;
    font-size: var(--txtsz5);
    color: var(--txtclr2);
}

 
 